<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-pro" icon="assets/img/arrow-undo.svg">volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size=6>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center" style="color: yellow;">Buscar trabajos</p>
            <img src="assets/img/add-circle-outline.svg" style="filter: invert(100%);" alt="">
          </ion-card-content>
        </ion-card>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center" style="color: yellow;">Servicio especializado</p>
            <img src="assets/img/bag-add-outline.svg" style="filter: invert(100%);" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=6>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center" style="color: yellow;">Nuevo</p>
            <p class="ion-text-center" style="color: yellow;">personal</p>
            <img src="assets/img/add-circle-outline.svg" style="filter: invert(100%); height: 320px;">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=12>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center">Trabajos activos</p>
            <ion-row>
              <ion-col size="4">
                <br><br>
              </ion-col>
              <ion-col size="4">
                <img src="assets/img/stopwatch-outline.svg" style="filter: invert(100%);">
              </ion-col>
              <ion-col size="4">
                <br>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=6>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center">Historial</p>
            <img src="assets/img/folder-outline.svg" style="filter: invert(100%);" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=6>
        <ion-card class="card_grey">
          <ion-card-content>
            <p class="ion-text-center" style="color: yellow;">Mi cuadrilla</p>
            <img src="assets/img/people-outline.svg" style="filter: invert(100%);">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
