ion-toolbar{
    --background: #ffffff;
    --ion-border-color: transparent;   
  }
  
  ion-back-button{
    --color: #000000;
  }
  
  ion-content{
    --ion-background-color: #ffffff;
  }

  ion-card{
    --background: #ffffff;
    border: 5px solid #000000;
    box-shadow: none;
  }

  .card_grey{
    --background: #595959;
    border: none;
    color: #ffffff;
  }